<!-- @switch (stepperOrientation | async) {
    @case ('horizontal') {
      <div>Make your screen smaller to see a vertical stepper</div>
    }
    @case ('vertical') {
      <div>Make your screen larger to see a horizontal stepper</div>
    }
  } -->
  
  <mat-stepper
    class="example-stepper"
    [linear]="true"
    [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="personalInfoForm" label="Personal Information" [completed]="personalInfoForm.valid">
      <form [formGroup]="personalInfoForm" (ngSubmit)="submitPData()">
        <div class="col">
          <mat-form-field class="long-input">
            <mat-label>LRN</mat-label>
            <input matInput placeholder="LRN" formControlName="LRN" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="First name" formControlName="fname" required>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Middlename</mat-label>
            <input matInput placeholder="Middle name" formControlName="mname">
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Last name" formControlName="lname" required>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Suffix</mat-label>
            <input matInput placeholder="Ex. Sr., Jr., II, III" formControlName="suffix">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" placeholder="Ex. Artacho, Sison, Pangasinan" required>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Contact #</mat-label>
            <input matInput formControlName="contact_no" placeholder="Contact #" required>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Religion</mat-label>
            <input matInput formControlName="religion" placeholder="Religion" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="bdate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="margin-left: 30px;">
            <mat-label>Birthplace</mat-label>
            <input matInput formControlName="bplace" placeholder="Ex. Artacho, Sison, Pangasinan" required>
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button mat-button matStepperNext type="submit">Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="enrollmentDetails" label="Enrollment Details " [completed]="enrollmentDetails.valid">
      <form [formGroup]="enrollmentDetails" (ngSubmit)="submitEData()">
        <input type="text" value="" formControlName="LRN" hidden>
        <div class="col">
          <mat-form-field>
            <mat-label>Grade Level</mat-label>
            <!-- <input matInput formControlName="grade_level" placeholder="Ex. 12345678" required> -->
            <mat-select formControlName="grade_level" [(ngModel)]="selectedLevel">
              @for (lvl of gradelevel; track lvl) {
                <mat-option [value]="lvl">{{lvl}}</mat-option>
                }
            </mat-select>
          </mat-form-field> 
        </div>
        @if(selectedLevel == '11' || selectedLevel == '12'){
          <div class="col">
            <mat-form-field>
              <mat-label>Strand</mat-label>
              <input matInput formControlName="strand" placeholder="Ex. 12345678" required>
            </mat-form-field> 
          </div>
        }
        <div class="col">
          <mat-form-field>
            <mat-label>School Year</mat-label>
            <input matInput formControlName="school_year" placeholder="Ex. 12345678" required>
          </mat-form-field> 
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Last Attended School</mat-label>
            <input matInput formControlName="last_attended" placeholder="Ex. 12345678" required>
          </mat-form-field> 
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Guardian Name</mat-label>
            <input matInput formControlName="guardian_name" placeholder="Guardian Name" required>
          </mat-form-field> 
        </div>
        <div>
          <mat-radio-group aria-label="Select an option" formControlName="public_private">
            <mat-radio-button value="Public">Public</mat-radio-button>
            <mat-radio-button value="Private">Private</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button mat-button matStepperNext type="submit">Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
  <section>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md mb-3 form-col">
          <div class="student_name mt-2">
            <h6><strong>{{studentName}} </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
          </div>
          <div class="container">
            <div class="row g-2">
              <div class="col-md">
                <blockquote class="blockquote mt-3" style="border-bottom: 2px solid; border-bottom-color: black;">
                </blockquote>
            
                    <div class="card-body mb-2">
                      <table class="tuition-table">
                        <tbody>
                          <tr>
                            <th>Old Account:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>Tuition Fee:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>General and Miscellaneous Fees:</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>Total Tuition and Fees (+old account):</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>Less: ESC</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th>TOTAL BALANCE</th>
                            <td class="text-end">0.00</td>
                          </tr>
                          <tr>
                            <th class="text-end">Down Payment</th>
                            <td class="text-end" style="border-bottom: 2px solid; border-bottom-color: black;">0.00</td>
                          </tr>
                          <!-- Centering the text in this row -->
                          <tr class="m-3 justify-content-center align-items-center">
                            <th style="text-align: center;">Down Payment (NO ESC)</th>
                            <td style="text-align: center;">0.00</td> <!-- Centered text -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            
                  <div class="col-md-12">
                    <div class="card border-info mb-3" >
                      <div class="card-header text-primary"><i class="bi bi-exclamation-octagon "></i> <strong> For incoming Grade 11,</strong> ESC Certificate can be use as down payment. Those coming from public school no need to pay downpayment.</div>
                      <div class="card-body">
                        <span class="card-title text-success">Payment could be made through:</span>
                          <ol>
                            <li>School Cashier</li>
                            <p class="card-text fw-bold">7:30-12:00 A.M. (Mon.to.Fri.)<br>
                              7:30-12:00 A.M. | 1:30-5:00 P.M. (Mon.to.Thurs.)
                             </p>
                            <li>Online Payment (To pay online please click the link below)</li>
                            <a class="card-text">Link for Online Payment</a>
                          </ol>
                      </div>
                      <div class="card-footer d-flex">
                        <div class="col-md">
                          <p>You may upload you <strong class="text-success">Bank Deposit Slip</strong> or your <strong class="text-success">ESC Certificate.</strong></p>
                        </div>
                        <div class="col-md">
                          <div class="card mb-3">
                            <div class="card-body">
                              <div class="d-flex justify-content-between">
                                <label class="card-title h5"><strong>Proof of Payment:</strong></label>
                                <span class="text-primary h4"><i class="bi bi-receipt"></i></span>
                            </div>
                            <div class="d-flex gap-2">
                              <div  class="row" >
                                <form action="" [formGroup]="paymentDetails">
                                  <input type="text" value="{{studentDetails.LRN}}" hidden formControlName="LRN">
                                  <!-- <input type="file" id="imageUpload" class="form-control" accept="image/*">
                                  <button class="btn btn-success ms-3 mx-2" type="submit">Submit</button><br> -->
                                  <div>
                                    <mat-form-field>
                                      <mat-label>Payment</mat-label>
                                      <input matInput  placeholder="Ex. 10000" formControlName="amount_paid" required>
                                    </mat-form-field> 
                                  </div>
                                  <div>
                                    <mat-form-field>
                                      <mat-label>Description</mat-label>
                                      <input matInput  placeholder="Ex. Tuition Fee" formControlName="description" required>
                                    </mat-form-field> 
                                  </div>   
                                    <button type="button" mat-raised-button (click)="fileInput.click()">Upload Proof of Payment</button>
                                    <input (change)="onFileSelected($event)" #fileInput type="file" id="file" formControlName="proof_payment"> 
    
                                    <!-- <input  type="file" (change)="onFileSelected($event)" accept="image/*" required />                                -->
                                    <button class="btn btn-success" type="submit" (click)="submitProofOfPayment()" [disabled]="!selectedFile" >Submit</button>
                                    @if(imageUrl){
                                      <img  [src]="imageUrl" alt="Uploaded Image" style="max-width: 100px; margin-top: 10px;" />
                                    }
                                  
                                </form>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>       
            </div>
          </div>
        </div>
        </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!isPaymentApproved()">Next</button>
      </div>
    </mat-step>
    <mat-step [disabled]="!isPaymentApproved()">
      <ng-template matStepLabel >DSF Approval</ng-template>
      <section>
        <div class="container mt-3">
          <div class="row">      
            <div class="col-md mb-3 form-col">
              <div class="card border-info mb-3" >
                  <div class="card-header text-dark">
                      <div class="student_name mt-2">
                          <h6><strong>{{studentName}} </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
                        </div>
                  </div>
                  <div class="card-body">
                  <h6 class="card-title text-success text-center"><strong>The Director of Student Finance has been confirmed your payment. <br> Thank you for the payment you made.</strong></h6>
                  </div>
                  <div class="card-footer d-flex">
                  <div class="col-md">
                      <div class="card-title">
                          <p >Please confirm the details that you made in your payment.</p>
                      </div>
                      <div class="card mb-2">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <span class="card-title h5"><strong>Date of Payment</strong></span>
                                  <span class="text-primary h4"><i class="bi bi-calendar-check"></i></span>
                              </div>
                              <p class="card-text mt-2">2024-08-19</p>
                          </div>
                      </div>
                      <div class="card mb-2">
                          <div class="card-body">
                              <div class="d-flex justify-content-between">
                                  <span class="card-title h5"><strong>Amount</strong></span>
                                  <span class="text-warning h4"><i class="bi bi-coin"></i></span>
                              </div>
                              <p class="card-text mt-2">&#8369;15,783.00</p>
                          </div>
                      </div>
    
                      <button class="btn btn-success" style="float:right;" type="submit">Next</button><br>
                  </div> 
                  </div>
              </div>
             
          </div>
        </div>
    </div>
    </section>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Student Contract</ng-template>
      <section>
        <div class="container mt-3">
          <div class="row">
    
            <div class="col-md mb-3 form-col">
              <div class="card-header text-dark">
                <div class="student_name mt-2">
                    <h6><strong>{{studentName}} </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
                  </div>
            </div>
                 <div class="col-md">
                      <div class="card border-success mb-3" >
                          <div class="card-header text-primary"><i class="bi bi-exclamation-octagon text-danger"></i> 
                              Note: This is needed before the VP Student Services will approve your enrolment.</div>
                          <div class="card-body" style="background:transparent;">
                              <h6 class="card-title" style="font-size: large;">Download the file of student contract applicable to you and send the accomplished form to: <br>
                              <a href="" class="text-success"><span>nlacstudentservicesgmail.com</span></a><br>
                             </h6>
                          </div>
                          </div>
                      <button class="btn btn-success" style="float:right;" type="submit">Next</button>
                  </div>
              </div>
        </div>
    </div>
    </section>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Officially Enrolled</ng-template>
      <div class="card-header text-dark">
        <div class="student_name mt-2">
            <h6><strong>{{studentName}} </strong> <span class="badge text-bg-primary">Grade 8</span></h6> 
          </div>
      </div>
      <p>You are now Officially Enrolled.</p>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
  