<h2 mat-dialog-title>Admission Requirements</h2>
<mat-dialog-content>
  <div class="card-body">
    <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
      <strong>Admission Requirements <i class="text-danger">(New Students)</i></strong>
    </blockquote>

    <div class="list-group ">
     
      <div class="row " style="background: none;">
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Photo Copy of PSA Birth Certificate</strong>
          </a>
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Good Moral Certificate</strong>
          </a>
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Original copy of SF9/F138/Report Card</strong>
          </a>
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Original Copy of SF10/F137</strong>
          </a>
       

       
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>ESC Certificate*</strong>
          </a>
          <a  class="list-group-item list-group-item-action">
            <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Recent 2x2 ID Picture</strong>
          </a>
          <a  class="list-group-item ">
            <i class="bi bi-check2-square h4 mx-2 text-danger" style="flex-shrink: 0;"></i>
            <strong>Duly Signed and Accomplished Student's/Parent's Guidelines Contract Form</strong>
          </a>
       
    </div>

    <blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
      <strong>Application for ESC <i class="text-danger">(For Grade 7 Applicants Only)</i></strong>
    </blockquote>

    <div class="list-group">
      <a  class="list-group-item">
        <i class="bi bi-check2-square h3 mx-2 text-danger" style="flex-shrink: 0;"></i>
        <strong>Complete Application Form</strong>: Ensure all sections are filled accurately.
      </a>
    </div>

  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="close()">Close</button>
</mat-dialog-actions>