<blockquote class="blockquote m-3" style="border-bottom: 2px solid; border-bottom-color: black;">
  <strong>Enrollment Process</strong>
</blockquote>

<mat-dialog-content>
    <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <i class="bi bi-1-circle-fill text-warning h3 mx-2" style="float: left;"></i>
        <strong>Personal Information</strong>: Explore available programs and courses.
      </a>
      <a class="list-group-item list-group-item-action">
        <i class="bi bi-2-circle-fill text-warning h3 mx-2" style="float: left;"></i>
        <strong>Payment</strong>: Gather necessary documents like transcripts and ID.
      </a>
      <a class="list-group-item list-group-item-action">
        <i class="bi bi-3-circle-fill text-warning h3 mx-2" style="float: left;"></i>
        <strong>DSF Approval</strong>: Fill out the application form accurately.
      </a>
      <a class="list-group-item list-group-item-action">
        <i class="bi bi-4-circle-fill text-warning h3 mx-2" style="float: left;"></i>
        <strong>Student Contract</strong>: Send your application along with required fees.
      </a>
      <a class="list-group-item list-group-item-action">
        <i class="bi bi-5-circle-fill text-warning h3 mx-2" style="float: left;"></i>
        <strong>Official Registration</strong>: Wait for the admission decision and follow up as needed.
      </a>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="close()">Close</button>
</mat-dialog-actions>